[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
"ruamel.yaml" = "*"
python-magic = "*"
Jinja2 = "*"
requests = "*"
packaging = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.9"
